In [1]:
print("Hello World")

Hello World

VALUES, VARIABLES & ASSIGNMENT OPERATOR

In [2]:
X = 5
print(X)

5

In [4]:
Name = "John"
Male = True
Age = 24
Height = 5.2
Class = 3j
print(Name)
print(Male)
print(Age)
print(Height)
print(Class)
print(type(Name))
print(type(Male))
print(type(Age))
print(type(Height))
print(type(Class))

John
True
24
5.2
3j
<class 'str'>
<class 'bool'>
<class 'int'>
<class 'float'>
<class 'complex'>

OPERATORS IN PYTHON
Arithmetic operator: (+,-,*,/,**,%,//)
Assignment operator: (=,+=,-=,/=)
Comparison operator: (==,!=,>,<,>=,<=)
Logical operators: (and, or, not)

In [7]:
# Arithmetic operator: (+,-,*,/,**,%,//)
X= 10
Y= 12.5
print(X+Y)

22.5

In [8]:
X= 10
Y= 12.5
print(Y-X)

2.5

In [9]:
X= 10
Y= 12.5
print(X*Y)

125.0

In [10]:
y=15
x=5
division= y/x
print(division)

3.0

In [11]:
expo= x**3
print(expo)

125

In [12]:
mod= y//x
print(mod)

3

In [13]:
rec= y%x
print(rec)

0

In [15]:
# Assignment operator: (=,+=,-=,/=)
y +=4
print(y)

23

In [16]:
y -=3
print(y)

20

In [17]:
y /=4
print(y)

5.0

In [18]:
# Comparison operator: (==,!=,>,<,>=,<=)
X=10
Y=12
compare = X==Y
print(compare)

False

In [19]:
X=10
Y=12
compare = X!=Y
print(compare)

True

In [20]:
X=10
Y=12
compare = X>Y
print(compare)

False

In [21]:
X=10
Y=12
compare = X<Y
print(compare)

True

In [22]:
X=10
Y=12
compare = X<=Y
print(compare)

True

In [23]:
X=10
Y=12
compare = X>=Y
print(compare)

False

In [24]:
# Logical operators: (and, or, not)
anddd = X == 10 and Y == 8
print(anddd)

False

In [25]:
anddd = not(X == 67 and Y == 8)
print(anddd)

True

CONCATENATION

In [27]:
Name = "John"
Age = 24
print('my name is ' + Name)

my name is John

In [30]:
print(f'My name is {Name} and I am {Age} years old')

My name is John and I am 24 years old

In [31]:
# Slicing
Namee = 'Alexander'
print(Namee[:4])

Alex

In [32]:
print(Namee[-5:])

ander

In [33]:
print(Namee[-5:-2])

and

In [34]:
# string methods
Fullname = 'Matthew Jones'
print(Fullname.lower())

matthew jones

In [2]:
# Advanced data types
# List: [1]

Food= ['Rice','Beans','Yam','Egg']
print(Food)
print (type(Food))

['Rice', 'Beans', 'Yam', 'Egg']
<class 'list'>

In [4]:
print(Food[:2])

['Rice', 'Beans']

In [5]:
print(Food[1])

Beans

In [6]:
# change one of the items in the list
Food[1] = 'Spaghetti'
print(Food)

['Rice', 'Spaghetti', 'Yam', 'Egg']

In [8]:
# printing the length of the value in the list
print(len(Food))

4

In [10]:
# adding an extra item to the list
Food.append('fufu')
print(Food)

['Rice', 'Spaghetti', 'Yam', 'Egg', 'fufu', 'fufu']

In [11]:
Food.insert(1,'Amala')
print(Food)

['Rice', 'Amala', 'Spaghetti', 'Yam', 'Egg', 'fufu', 'fufu']

In [14]:
Food.remove('fufu')
print(Food)

['Rice', 'Amala', 'Spaghetti', 'Yam', 'Egg']

In [15]:
Food.pop()
print(Food)

['Rice', 'Amala', 'Spaghetti', 'Yam']

In [16]:
# Tuples
Names = ('Sade', 'Ife', 'Waliu', 25)
print(Names)
print(type(Names))

('Sade', 'Ife', 'Waliu', 25)
<class 'tuple'>

In [17]:
print(len(Names))

4

In [22]:
# set
countries = {'Nigeria', 'Spain', 'Germany', 'England', 'Khazaktan'}
print(countries)
print(type(countries))

{'Germany', 'Nigeria', 'Khazaktan', 'England', 'Spain'}
<class 'set'>

In [24]:
countries.add('Canada')
print(countries)

{'Germany', 'Nigeria', 'Khazaktan', 'Canada', 'England', 'Spain'}

In [25]:
countries.update(['UK', 'Italy', 'France'])
print(countries)

{'Germany', 'France', 'Spain', 'Nigeria', 'UK', 'Italy', 'Khazaktan', 'Canada', 'England'}

In [26]:
countries.remove('Italy')
print(countries)

{'Germany', 'France', 'Spain', 'Nigeria', 'UK', 'Khazaktan', 'Canada', 'England'}

In [27]:
countries.discard('Italy')
print(countries)

{'Germany', 'France', 'Spain', 'Nigeria', 'UK', 'Khazaktan', 'Canada', 'England'}

In [28]:
countries.clear()
print(countries)

set()

In [29]:
# Dictionary 
student_details = {'Name': 'Arafah', 'Age' :24, 'sex' : 'Male', 'Nationality' :'Niegria'}
print(student_details)
print(type(student_details))

{'Name': 'Arafah', 'Age': 24, 'sex': 'Male', 'Nationality': 'Niegria'}
<class 'dict'>

In [30]:
H = student_details['Age']
print(H)

24

In [31]:
student_details['Height'] = 5.6
print(student_details)

{'Name': 'Arafah', 'Age': 24, 'sex': 'Male', 'Nationality': 'Niegria', 'Height': 5.6}

In [32]:
print(student_details.pop('Height'))

5.6

In [35]:
# write a python program that converts naira to dollar and vice versa keeping Dollar at 1600
Naira = 50000
Dollar = 1600
conversion = Naira/Dollar
print(f'The Amount of {Naira} in Dollars is {conversion}')

The Amount of 50000 in Dollars is 31.25

In [41]:
# write a python code that calculates tithe from the salary and prints how much the person is paying. keeping tithe at 10%
Salary = 100000
pay = 0.1
tithe = Salary * pay
print(f'The Amount he is paying from {Salary} in tithe is {tithe}')

The Amount he is paying from 100000 in tithe is 10000.0

In [43]:
# Dynamic
Salary = int(input('write your Salary here :'))
pay = 0.1
tithe = Salary * pay
print(f'The Amount he is paying from {Salary} in tithe is {tithe}')

write your Salary here : 77000

The Amount he is paying from 77000 in tithe is 7700.0

In [44]:
# write a python program that converts naira to dollar,make it dynamic
Naira = int(input('put you Naira here :'))
Dollar = 1600
conversion = Naira/Dollar
print(f'The Amount of #{Naira} in Dollars is ${conversion}')

put you Naira here : 77000

The Amount of #77000 in Dollars is $48.125

In [46]:
# Write a Program that ask for the age of the user and tells them their age in 5 years
AGE = int(input('Put your age here'))
Later_Age= AGE + 5
print (f'Hey User you wound be {Later_Age} in 5 years time' )

Put your age here 31

Hey User you wound be 36 in 5 years time

In [49]:
# write a program that takes in the distance in Kilometers and returns the amount to be paid, given that the fare per kilometer is #50
Distance = int(input('Put your distance in Kilometer here : '))
Price = Distance * 50
print(f'Your Ticket price for {Distance} KM is {Price}')

Put your distance in Kilometer here :  50

Your Ticket price for 50 KM is 2500

In [56]:
# write a program that calculates simple interest on a loan taken...#Intrest = (principal * Rate * Time)/100
Principal = int(input('Put the amount you want to borrow here : '))
Rate = 0.3
Time = 24
I = (Principal * Rate * Time)/100
print(f'Your Simple Intrest given that you borrowed #{Principal} over 24hrs would be #{I}')

Put the amount you want to borrow here :  50000

Your Simple Intrest given that you borrowed #50000 over 24hrs would be #3600.0